@import url("https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css");
@import url('https://fonts.googleapis.com/css?family=Rationale');

body{
  font-family: "Rounded Mplus 1c";
  width: 80%;
  margin: 0 auto;
  background-color: #FFFCED;
  font-size:15px;
  text-align: left;  
}

#links{
    display: inline
}

#images{
    text-align: center;
    width: 80%;
}

#images img{
    display: inline-block;
    margin: 10px;
    padding: 0px;
    width: 30%;
    height: auto;
}

#image-main{
}

#slide{
    width: 80%;
    text-align: center;
}