@import url("https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css");
@import url('https://fonts.googleapis.com/css?family=Rationale');

body{
  font-family: "Rounded Mplus 1c";
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFCED;
  font-size:20px;
  text-align: center;  
}

#root{
    text-align: left; 
}

#title{
  background: #FEF6C9;
  color:#725752;
  font-family: "Rounded Mplus 1c";
  font-size:50px;
  padding-top:10px;
  padding-bottom:5px;
  margin: 10px;
  text-align: center;
}

#title-logo{
  font-family: 'Rationale', sans-serif;
  font-size:80px;
  letter-spacing: 10px;
}

.subtitle{
  font-size:50px;
  margin: 5px;
  color: #725752;
  font-family: 'Rationale', sans-serif;
  letter-spacing: 5px;
}

.worktitle{
  font-size:50px;
  margin: 5px;
  color: #725752;
  letter-spacing: 5px;
}

#profile{
  overflow: hidden;
}

#profile-text{
  float: left;
  word-wrap: break-word;
  width: 60%;
}
#profile-icon{
  float:right;
  margin: 30px;
  width: 30%;
  height: auto;
}

.portfolio-item{
    border: 1px solid #ccc;
    background-color: #FEF6C9;
    color:#725752;
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
}

.portfolio-content-row{
  display: flex;
  display: -moz-flex;
  display: -o-flex;
  display: -webkit-flex;
  display: -ms-flex;
}

.portfolio-item-overflow{
    overflow: hidden;
    height: 299px;
    width: 299px;
    background-color: black;
    border:1px solid #ccc;
    float:left;
    position: relative;
}

.portfolio-item img{
    width: 300px;
    height: auto;
    margin:0;
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    right:0;
    margin: auto;
}

.portfolio-item p{
    text-align: left;
    margin-left: 10px;
}


.pink-line{
    background: linear-gradient(transparent 40%, rgb(255, 170, 170) 40%);
}

.return-link{
  font-size:30px;
  margin: 5px;
  color: #725752;
  font-family: 'Rationale', sans-serif;
  letter-spacing: 5px;
  border: 1px solid #fff;
}

.image-link{
    outline : none;
}